.todos {
    display: flex;
    width:47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(50,195,205);
}

.container {
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.todos__heading {
    font-size: 30px;
    color: white;
}

.remove {
    display: flex;
    width:47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: red
}

@media (max_width: 700px) {
    .container{
        width: 95%;
        flex-direction: column;
    }
}